html,
body,
#root {
  height: 100%;
  margin: 0;
}

.pageContainer {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.pageContainer>main {
  flex: 1;
}

.footer {
  background-color: #387c89;
}

.chatBubble {
  color: white;
}

/* Search Page */

.seeMatchesButton {
  border-color: #e78e4c !important;
  background-color: #e78e4c !important;
}

/* Search Results Page */

.containerForSearchContent {
  margin: 2rem;
  transition: transform 250ms ease;
  will-change: transform;
}

.containerForSearchContent.shifted {
  transform: translateX(-300px);
}

.searchTitle {
  font-weight: bolder;
}

.searchResultsHeading {
  text-align: center;
}

.sideDrawer {
  text-align: center;

}




/* Organization Card */
.saveMatch {
  margin: auto;
  width: 20rem;
}

.cardImage {
  padding: 1rem;
}

.orgCardButton {
  background-color: #70b2e0 !important;
  border-color: #70b2e0 !important;
  font-weight: bolder !important;
}

.heartButton {
  all: unset;
  background: none;
  padding: 0;
  color: #70b2e0;
  font-size: 2rem;
  cursor: pointer;
}


/* Shopping Cart Modal */
.shoppingCartModal {
  display: flex;
  justify-content: center;
}

/* Non-Profit Web Page */
.nonProfitWPTopContainer {
  display: flex;
  justify-content: center;
  margin: 1rem;
}

.nonProfitWebPageButtonContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 1rem;
}

.nonProfitWPButtons {
  margin: 1rem;
}