html,
body,
#root {
  height: 100%;
  margin: 0;
}

.pageContainer {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.pageContainer>main {
  flex: 1;
}

.footer {
  background-color: #387c89;
}

.chatBubble {
  color: white;
}

.saveMatch {
  margin-bottom: 1rem;
}